# Data Modelling

- Build Dataset for PandaPower from initial dataset

In [1]:
import os
import arrow
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cwd = os.getcwd()
print(cwd)
main_fn = os.path.join(cwd, "data_modelling")
print(main_fn)

/Users/torge/Development/master/masterthesis_code/02_Experimente/DataGenerator
/Users/torge/Development/master/masterthesis_code/02_Experimente/DataGenerator/data_modelling

In [3]:
fn = os.path.join(main_fn, 'main_profiles.csv')
df_base = pd.read_csv(fn, sep=';', index_col='index')

In [4]:
df_base.head()

,load_h0_normed_kW,load_g0_normed_kW,load_l0_normed_kW,gen_pv_normed_kW,gen_wind_normed_kW,gen_gas_normed_kW
index,,,,,,
2020-01-01 00:00:00,67.6,65.5,72.4,-0.0,-0.167,-0.058531
2020-01-01 00:15:00,60.8,62.6,69.4,-0.0,-0.166,-0.058531
2020-01-01 00:30:00,54.9,59.6,66.9,-0.0,-0.165,-0.058531
2020-01-01 00:45:00,49.9,57.0,64.8,-0.0,-0.164,-0.058531
2020-01-01 01:00:00,46.2,54.8,63.2,-0.0,-0.163,-0.058531

In [5]:
drop_cols = df_base.columns
df_base['load_h0_normed_MW'] = df_base['load_h0_normed_kW'] / 1000
df_base['load_g0_normed_MW'] = df_base['load_g0_normed_kW'] / 1000
df_base['load_l0_normed_MW'] = df_base['load_l0_normed_kW'] / 1000
df_base['gen_pv_normed_MW'] = df_base['gen_pv_normed_kW'] 
df_base['gen_wind_normed_MW'] = df_base['gen_wind_normed_kW']
df_base['gen_gas_normed_MW'] = df_base['gen_gas_normed_kW'] 

df_base.drop(drop_cols, axis=1, inplace=True)

In [6]:
df_base.head()

,load_h0_normed_MW,load_g0_normed_MW,load_l0_normed_MW,gen_pv_normed_MW,gen_wind_normed_MW,gen_gas_normed_MW
index,,,,,,
2020-01-01 00:00:00,0.0676,0.0655,0.0724,-0.0,-0.167,-0.058531
2020-01-01 00:15:00,0.0608,0.0626,0.0694,-0.0,-0.166,-0.058531
2020-01-01 00:30:00,0.0549,0.0596,0.0669,-0.0,-0.165,-0.058531
2020-01-01 00:45:00,0.0499,0.0570,0.0648,-0.0,-0.164,-0.058531
2020-01-01 01:00:00,0.0462,0.0548,0.0632,-0.0,-0.163,-0.058531

In [7]:
df_data = pd.DataFrame()

In [8]:
load_mapping = {
    #            0  1  2  3  4  5
    1: np.array([2, 1, 0, 0, 0, 1]),
    2: np.array([4, 2, 0, 1, 1, 0]),
    3: np.array([2, 0, 0, 0, 1, 0]),
    4: np.array([0, 1, 0, 0, 0, 0]),
    5: np.array([3, 0, 0, 2, 0, 0]),
    6: np.array([1, 1, 0, 0, 0, 0]),
    7: np.array([1, 2, 0, 0, 0, 0]),
    8: np.array([1, 0, 0, 1, 0, 0]),
    9: np.array([3, 0, 0, 0, 0, 0]),
    10: np.array([0, 0, 0, 0, 0, 0]),
    11: np.array([2, 0, 0, 0, 0, 0]),
    12: np.array([0, 0, 0, 0, 0, 0]),
    13: np.array([2, 0, 2, 0, 2, 0]),
    14: np.array([1, 0, 1, 0, 1, 0]),
}

In [9]:
fn = os.path.join(main_fn, 'load_mapping.npy')
np.save(fn, load_mapping)

In [10]:
for bus, load in load_mapping.items():
    df_data['AGG_BUS_{}'.format(bus)] = np.dot(load, df_base.T)

In [11]:
df_data.set_index(df_base.index,inplace=True)

In [12]:
df_data.head()

,AGG_BUS_1,AGG_BUS_2,AGG_BUS_3,AGG_BUS_4,AGG_BUS_5,AGG_BUS_6,AGG_BUS_7,AGG_BUS_8,AGG_BUS_9,AGG_BUS_10,AGG_BUS_11,AGG_BUS_12,AGG_BUS_13,AGG_BUS_14
index,,,,,,,,,,,,,,
2020-01-01 00:00:00,0.142169,0.2344,-0.0318,0.0655,0.2028,0.1331,0.1986,0.0676,0.2028,0.0,0.1352,0.0,-0.0540,-0.0270
2020-01-01 00:15:00,0.125669,0.2024,-0.0444,0.0626,0.1824,0.1234,0.1860,0.0608,0.1824,0.0,0.1216,0.0,-0.0716,-0.0358
2020-01-01 00:30:00,0.110869,0.1738,-0.0552,0.0596,0.1647,0.1145,0.1741,0.0549,0.1647,0.0,0.1098,0.0,-0.0864,-0.0432
2020-01-01 00:45:00,0.098269,0.1496,-0.0642,0.0570,0.1497,0.1069,0.1639,0.0499,0.1497,0.0,0.0998,0.0,-0.0986,-0.0493
2020-01-01 01:00:00,0.088669,0.1314,-0.0706,0.0548,0.1386,0.1010,0.1558,0.0462,0.1386,0.0,0.0924,0.0,-0.1072,-0.0536

## Compute Q

In [13]:
def compute_q(p, cos_phi=0.9, mode='inductive'):
    abs_q = p * np.tan(np.arccos(cos_phi))
    # inductive load 'consumes' reactive power
    if mode == 'inductive':
        return abs_q
    # capacitve load 'provides' reactive power
    elif mode == 'capacitve':
        return -1 * abs_q
    else:
        print('ERROR: Illegal mode: %s. Falling back to default (inductive).' % str(mode))
        return abs_q

In [14]:
cols = df_data.columns

In [15]:
dfs = {}
for col in cols:
    tmp = pd.DataFrame(index=df_data.index, columns=['name', 'p_mw', 'q_mvar'])
    tmp['p_mw'] = df_data[col]
    i = len(tmp['p_mw'])
    tmp['name'] = [col] * i
    dfs[col] = tmp

In [16]:
for key, val in dfs.items():
    tmp_q = []
    for val in val.iterrows():
        p = val[1]['p_mw']
        q = compute_q(p)
        tmp_q.append(q)
    dfs[key]['q_mvar'] = tmp_q

In [17]:
dfs['AGG_BUS_14'].head()

                           name    p_mw    q_mvar
index
2020-01-01 00:00:00  AGG_BUS_14 -0.0270 -0.013077
2020-01-01 00:15:00  AGG_BUS_14 -0.0358 -0.017339
2020-01-01 00:30:00  AGG_BUS_14 -0.0432 -0.020923
2020-01-01 00:45:00  AGG_BUS_14 -0.0493 -0.023877
2020-01-01 01:00:00  AGG_BUS_14 -0.0536 -0.025960

In [18]:
second_index = np.arange(0, len(cols))
index_array = [np.array(dfs['AGG_BUS_1'].index), second_index]

In [19]:
idx = pd.MultiIndex.from_product(index_array)

In [20]:
df_main = pd.DataFrame(index=idx, columns=['name', 'p_mw', 'q_mvar'])

In [21]:
df_main.head()

                      name p_mw q_mvar
2020-01-01 00:00:00 0  NaN  NaN    NaN
                    1  NaN  NaN    NaN
                    2  NaN  NaN    NaN
                    3  NaN  NaN    NaN
                    4  NaN  NaN    NaN

In [22]:
p_mw = []
q_mw = []
names = []
for idx, data in df_main.groupby(level=0):
    for col in cols:
        p = dfs[col].loc[idx]['p_mw']
        q = dfs[col].loc[idx]['q_mvar']
        p_mw.append(p)
        q_mw.append(q)
        names.append(col)

In [23]:
print(len(p_mw))
print(len(q_mw))
print(len(names))
assert len(p_mw) == len(q_mw) == len(names)

1963584
1963584
1963584

In [24]:
df_main['p_mw'] = p_mw
df_main['q_mvar'] = q_mw
df_main['name'] = names

In [25]:
df_main.head(14)

                              name      p_mw    q_mvar
2020-01-01 00:00:00 0    AGG_BUS_1  0.142169  0.068856
                    1    AGG_BUS_2  0.234400  0.113525
                    2    AGG_BUS_3 -0.031800 -0.015401
                    3    AGG_BUS_4  0.065500  0.031723
                    4    AGG_BUS_5  0.202800  0.098221
                    5    AGG_BUS_6  0.133100  0.064463
                    6    AGG_BUS_7  0.198600  0.096186
                    7    AGG_BUS_8  0.067600  0.032740
                    8    AGG_BUS_9  0.202800  0.098221
                    9   AGG_BUS_10  0.000000  0.000000
                    10  AGG_BUS_11  0.135200  0.065480
                    11  AGG_BUS_12  0.000000  0.000000
                    12  AGG_BUS_13 -0.054000 -0.026153
                    13  AGG_BUS_14 -0.027000 -0.013077

In [26]:
df_main.index.levels[1]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [27]:
h5_fn = os.path.join(main_fn, 'main_agg.h5')
print(h5_fn)
df_main.to_hdf(h5_fn, mode='w', key='df')

/Users/torge/Development/master/masterthesis_code/02_Experimente/DataGenerator/data_modelling/main_agg.h5